# OpenOCD 烧录: J-Link SWD + PY32F003x8 (64K flash)
source [find interface/jlink.cfg]
adapter serial 150711039
transport select swd
set FLASH_SIZE 0x10000
set WORKAREASIZE 0x1000
source [find target/py32f0xx.cfg]

init
reset halt
flash write_image erase /tmp/py32_project.bin 0x08000000 bin
verify_image /tmp/py32_project.bin 0x08000000
dump_image /tmp/py32_flash_verify.bin 0x08000000 22016
reset run
shutdown
